:root {
    --background-color-primary: rgb(240 240 240);
    --input-width: 16rem;
    --form-padding: 4rem;
    --page-margin: 10vh auto;
    --form-border-radius: 1rem;
    --form-max-width: 24rem;
}
